/node_modules
/public/hot
/public/storage
/public/admin/images/user
/public/admin/images/ann
/public/admin/images/ann_thumb
/storage/*.key
/.idea
/.vagrant
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
.env*