RewriteEngine On
RewriteBase /
DirectoryIndex index.php
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://ulviemlak.az/ht/pro/public/admin/login [L,R=303]